<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
    <span class="margin-top-10"><img src="assets/logo-icon.svg" width="30"/></span>
    <a mat-button routerLink="/" matTooltip="Angular Google Maps Hompage" fxHide.xs>Angular Google Maps</a>
    <span fxFlex></span>
    <a mat-icon-button [href]="packageUrl" matTooltip="npm package" target="_blank"><img src="https://raw.githubusercontent.com/npm/logos/master/npm%20logo/classic/npm-2009.svg" width="40"/></a>
    <a mat-icon-button [href]="wikiUrl"    matTooltip="Wiki" target="_blank">Docs</a>
    <a mat-icon-button [href]="repoUrl"    matTooltip="Repository"  target="_blank"><img src="assets/github.svg" width="30"/></a>
</mat-toolbar>
<router-outlet></router-outlet>