<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-toolbar color="primary">Topics</mat-toolbar>
        <mat-list>
            <ng-container *ngFor="let topic of topics">
                <h3 matSubheader>{{topic.title}}</h3>
                <mat-list-item *ngFor="let example of topic.examples">
                   <mat-icon matListIcon>video_settings</mat-icon>
                   <h4 matLine>{{example.title}}</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
         </mat-list>         
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>@bespunky/angular-google-maps</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>