<div class="cover fill-screen-v relative"></div>

<div class="box absolute centered padding-30 text-center">
    <div class="logo text-center">
        <img src="assets/logo@1.25x.png" />
    </div>
    <h1 class="title">@bespunky/angular-google-maps</h1>
    <h3 class="subtitle">A brilliant solution for using Google Maps in Angular.</h3>
    <button mat-raised-button color="primary" (click)="slideTo(demos)">Start Experimenting</button>
</div>

<div class="demos" #demos>
    <h1 class="text-center margin-top-30">Demos</h1>
    <h3 class="text-center margin-top-30">⚡ All of the examples are served using StackBlitz. For tips and insights, look for the README.md file of each.</h3>
    
    <demo-example-list [cards]="cards"></demo-example-list>
</div>