<div class="cover fill-screen-v">
    <div class="box absolute centered">
        <div class="logo text-center">
            <img src="https://iconarchive.com/download/i99368/dtafalonso/android-lollipop/Maps.ico"/>
        </div>
        <h1 class="title">@bespunky/angular-google-maps</h1>
        <h3 class="subtitle">A brilliant solution for using Google Maps in Angular.</h3>
    </div>
</div>
<div class="topics">
    <div class="topic" *ngFor="let topic of topics">
        {{topic.title}}
        <div class="example" *ngFor="let example of topic.examples">
            --- {{example.title}}
        </div>
    </div>
</div>