<div class="examples" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
<!-- <div class="examples" gdColumns="repeat(auto-fit, minmax(300px, 1fr))" gdAlignColumns="space-between stretch" gdGap="15px"> -->
    <a [routerLink]="['./', card.title]" *ngFor="let card of cards" class="non-link-style" >
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>{{card.icon}}</mat-icon>
                </div>
                <mat-card-title>{{card.title}}</mat-card-title>
                <mat-card-subtitle *ngIf="card.subtitle">{{card.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{card.content}}</p>
            </mat-card-content>
        </mat-card>
    </a>
</div>