/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-screen-v {
    height: calc(100vh - 70px);
}

.box {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.76);
    color: rgb(41, 41, 41);
}

.padding-30 {
    padding: 30px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;

    &.centered {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.text-center {
    text-align: center;
}

.non-link-style {
    text-decoration: none;
}